html {
  overflow-x: hidden;
}

#board,
.deck {
  min-height: 400px;
  overflow-x: auto;
  scrollbar-width: none;
}

.deck,
.board {
  min-width: 25vh;
}

.card-img-custom {
  border-radius: 15px 15px 0px 0px;
}

.card-background {
  width: 300px;
  /* height: 420px; */
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.card-background:hover {
  box-shadow: 0px 1px 16px rgb(255, 255, 255);
}

.health-container {
  width: 80vw;
  height: 40px;
  background-color: #444;
  border: 2px solid #222;
  border-radius: 5px;
  overflow: hidden;
}

.health-bar {
  height: 100%;
  width: 100%; /* aqui representa 70% da vida, mude conforme necessário */
  background-color: #e60000;
  transition: width 0.3s ease;
}
